<div class="container">
  <h4>Standard Input Fields</h4>
</div>

<div class="row">
  {{#materialize-form class="col s12" submit=(action "submit")}}
    <div class="row">
      <div class="input-field col s12">
        {{materialize-textfield type="email" label="Login" placeholder="Email address" required=true errorMessage=errorMessage value=email}}
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        {{materialize-textfield type="password" label="Password" placeholder="Password" required=true errorMessage=errorMessage value=password}}
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        {{#materialize-button click=(action "validate")}}Custom Error{{/materialize-button}}
      </div>

      <div class="input-field col s6">
        {{materialize-submit class="btn waves-effect waves-light" value="Submit"}}
      </div>
    </div>
  {{/materialize-form}}
</div>

<div class="divider"></div>

<div class="container">
  <h4>Dynamic Label</h4>
</div>

<div class="row">
  {{#materialize-form class="col s12"}}
    <div class="row">
      <div class="input-field col s12">
        {{materialize-textfield label=label placeholder="Input goes here"}}
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        {{materialize-textfield label="Label" placeholder="Dynamic label input" value=label}}
      </div>
    </div>
  {{/materialize-form}}
</div>
